{% extends "base.html" %}
{% block title %}Signup - Weather App{% endblock %}
{% block head %}
    <style>
        body {
        background-color: #f2f2f2;
        }
        .form-container {
        padding: 20px;
        border-radius: 5px;
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
    </style>
{% endblock %}
{% block content %}
    <div class="container mt-5">
      <div class="row justify-content-center">
        <div class="col-md-6 form-container">
          <h2 class="text-center mb-3">Sign Up</h2>
          <form method="POST">
            <div class="mb-3">
              <label for="username" class="form-label">Username</label>
              <input type="text" class="form-control" id="username" name="username" required>
            </div>
            <div class="mb-3">
              <label for="email" class="form-label">Email address</label>
              <input type="email" class="form-control" id="email" name="email" required>
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              <input type="password" class="form-control" id="password" name="password" required>
            </div>
            <button type="submit" class="btn btn-primary">Sign Up</button>
          </form>
        </div>
      </div>
    </div>
{% endblock %}